= hidden_field_tag :addl_fields, "excerpt,content,thumb_url"
%tr
  %th Excerpt
  %td= text_area_tag :excerpt, h(@entry.data[:excerpt])
%tr
  %th Content
  %td= text_area_tag :content, h(@entry.data[:content])
%tr
  %th Thumb Url
  %td= text_field_tag :thumb_url, h(@entry.data[:thumb_url])
