%h2 Bike
%dt 2012 September - 29 lbs
%dd Initial Purchase: Cannondale Trail SL4. RST "Deuce" fork, Alivio components
%dt 2013 September - 27 lbs
%dd Easton EA-70 XCT Wheels, Stan's "The Crow" tires
%dt 2013 October - 26 lbs
%dd Shimano XT cranks, casette, durallieurs, shifters, chain
%dd Shimano XT Brakes - 180mm front / 160mm rear
%dt 2014 January - 26 lbs
%dd Replace Shimano XT chain (1/2" stretch)
%dt 2014 February - 25 lbs
%dd Kenda Happy Medium 700Cx32mm
%dt 2014 July - 22 lbs
%dd Continental Gatorskin 700Cx28mm
%dd Fizik Arione Versus saddle
%dd Niner rigid carbon fork + FSA Gravity One headset
