- @title = "Hikes"
%h2 Mission Peak, Mt. Allison, Monument Peak
This is a trio of 2500-2700 foot peaks east of Fremont and Milpitas.  They're accessible from points in Fremont, Milpitas, and Sunol Regional Wilderness.  (
%a{:href => "http://www.ebparks.org/files/EBRPD_files/brochure/mission_peak_map.pdf"} Mission Peak Map
,
%a{:href => "http://www.sccgov.org/SCC/docs%2FParks%20and%20Recreation,%20Department%20of%20(DEP)%2Fattachments%2F644507Levin%20Brochure.pdf"} Ed Levin Park Map
,
%a{:href => "http://www.ebparks.org/files/Sunol_map_0.pdf"} Sunol Regional Wilderness Map
)
%ul
  %li
    %h3 From Stanford Ave in Fremont (6-12 miles round trip)
    Park here and walk up the Peak Trail to Mission Peak, or take Horse Heaven Trail for a more interesting and less popular walk.  From Mission Peak, you can head south to Mt. Allison and Monument Peak.
  %li
    %h3 From Rancho Higuera Historical Park in Fremont (7 miles round trip)
    Park along the street and hop over the gate for a couple different ways up to Mt. Allison.
  %li
    %h3 From Ed Levin County Park in Milpitas (7-12 miles round trip)
    Park next to Sandy Wool Lake, and head up the Tularcitos or Agua Caliente trails to Monument Peak.  Oftentimes there are hang gliders and paragliders practicing here.  From Monument Peak, you can continue north to Mt. Allison and Mission Peak.
  %li
    %h3 From Sunol Regional Wilderness (10 miles round trip)
    The Ohlone Trail takes you out of Sunol Regional Wilderness, across Calaveras Road, across SF Water District land, and up the east side (the back) of Mission Peak.

%h2 Flag Hill, Macguire Peaks, Rose Peak
These are destinations contained in Sunol Regional Wilderness and the Ohlone Regional Wilderness. (
%a{:href => "http://www.ebparks.org/files/Sunol_map_0.pdf"} Sunol Regional Wilderness Map
,
%a{:href => "http://www.ebparks.org/files/parks/ohlone/ohlone_permit_4500w_32c.gif"} Ohlone Trail Map
)
%ul
  %li
    %h3 From Sunol Regional Wilderness
    Flag hill is a quick, steep 3 miler.  You can continue on to Macguire Peaks for another 7 miles round trip.  Rose Peak is 20 miles round trip, up to 3800 feet elevation.

%h2 Sunol Peak
%ul
  %li
    %h3 From 2nd Street in Sunol
    Tresspass on private property to get to the top.

%h2 Mt. Umunhum
(
%a{:href => "http://www.openspace.org/preserves/maps/pr_sierra_azul.pdf"} Sierra Azul Open Space Preserve map
)
%ul
  %li
    %h3 From Sierra Azul Regional Preserve
    Watch for mythical hillbillies and rabid albinos up to this super-secret
    ex-Air Force radar station laced with lead and asbestos.  Park in the little
    lot at Hicks Road and Mt. Umunhum Road.  Take the Woods Trail, then left on
    Barlow Road.  Head up the spine of the hill where Barlow Road makes a sharp
    turn 0.6 miles to the top of spooky Mt. Umunhum.
    %a{:href => "http://steinkamp.us/708/umunhum"} Adventure Writeup Here.

%h2 Castle Rock
(
%a{:href => "http://www.parks.ca.gov/pages/538/files/crmap.pdf"}> Castle Rock State Park map
)
%ul
  %li
    %h3 From Castle Rock State Park
    A wonderful place with lots of shade, varied terrain, and cool rock formations.
%h2 Black Mountain
(
%a{:href => "http://www.sccgov.org/SCC/docs%2FParks%20and%20Recreation,%20Department%20of%20(DEP)%2Fattachments%2F40501ranchspm.pdf"}> Rancho San Antonio Open Space Preserve map
)
%ul
  %li
    %h3 From Rancho San Antonio Open Space Preserve
    Take the PG&E trail up to where it ends and turns downhill.  There is a single-track trail the rangers call the "Potty Trail" not shown on the map that leads to the Black Mountain Trail.  Turn left when the Potty Trail ends and finish the hike up to Black Mountain (2850ft).  This out-and-back hike is 12-13 miles round-trip.
  %li
    %h3 From Rhus Ridge Road
    You're lucky if you can find a parking place in the tiny lot at the trailhead.  There is plenty of street parking off Moody Road a half mile away though.  The initial climb is pretty steep, then the trail meets up with the Black Mountain Trail after a mile.  Another 4 miles and you're at the top of Black Mountain, where you can continue over and to the northwest to explore as far as your legs will take you.
