%h1 Infineon Raceway at Sears Point - Novice Notes
.storysummary
  %p
    Infineon Raceway has a unique poetic quality to it.  The track flows
    like classical music in the Sonoma hills.  It's a fantastic place
    to hone your consistency, since one false move will at best
    slow you down for the next couple of turns, and at worst put you
    into one of the many walls that loom trackside.
  These notes are geared for the beginning driver at Infineon.  They
  intentionally lack fine details.  Rather, they are intended to lay
  down a basic foundation for driving the track, with detail to be
  filled in by in-car instruction.
%dl.storylist.storybody
  %dt Location
  %dd
    29355 Arnold Dr, Sonoma, CA
    [
    %a{:href => "http://maps.google.com/maps?f=q&hl=en&q=29355+arnold+drive,+sonoma,+ca&ie=UTF8&z=13&ll=38.161016,-122.45018&spn=0.062088,0.195007&om=1&iwloc=A"}> map
    ]
    [
    %a{:href => "http://maps.google.com/maps?f=q&hl=en&q=29355+arnold+drive,+sonoma,+ca&ie=UTF8&om=1&z=16&ll=38.162349,-122.457669&spn=0.007761,0.024376&t=k"}> satellite
    ]
    %dt More Info
    %dd
      %ul
        %li
          %a{:href => "http://www.infineonraceway.com/images/facility_alms_web.jpg"} Track Map
        %li
          %a{:href => "http://video.thenobot.org/20061006-infineon_trackmsters.mov"} In-Car Video
        %li
          %a{:href => "http://en.wikipedia.org/wiki/Infineon_Raceway"} Wikipedia Entry
        %li
          %a{:href => "http://www.red4est.com/pdapi/InfineonDescription.pdf"} Hank Watts' Expert Writeup (PDF)
    %dt The Track
    %dd
      %p
        %em
          %b NOTE:
          it's a good idea to follow along with a track map and in-car video opened in another window.  Links for both are above.
      %h3 Turn 1 - Uphill Left
      %p
        Turn 1 is a slight kink just after the start/finish line.  You should be flat
        on the throttle through here, likely in 4th gear.
        %b
          The goal here is to make a
          smooth arc that starts before Turn 1, and ends just before turn-in to Turn 2.
        Once the car takes a set, look up the hill to find your exit point.  A slowly
        tightening arc that leaves you parallel to the end of berm on the left side
        of the track at the top of Turn 1 is ideal, and may take several sessions to
        find.  There is usually a flagger in the grandstands just beyond the top of the
        hill that you should look at each time.  As you straighten the wheel along
        the Turn 1 berm, apply the brakes a bit and downshift to 3rd gear to prepare
        for Turn 2.
      %h3 Turn 2 - Uphill Right
      %p
        Turn 2 is a blind, over-crest right hand turn.
        %b
          Turn-in at the very end of
          the berm on the left side of the track.
        The apex is just out of view from
        the turn-in point.  A sufficiently late apex will allow you to power through
        the turn.  Look through the hill and have faith that the exit is there.  Keep
        a bit of steering angle dialed in as you exit the turn to set you up for Turn
        3.
      %h3 Turn 3 - Uphill Left
      %p
        Turn 3 is a really really really fun turn.  The g-loading just after turn-in is one
        of the high points of the track for me.  Exiting Turn 2, keep a slight amount
        of steering angle dialed in.
        %b
          Powering down the slight incline, the road will
          help you find the right amount of steering to lead you to a little pocket on
          the right side of the track that sets you up nicely to turn in for Turn 3.
        A bit of brakes as you enter the pocket will help the car turn up the hill.
        Look to the end of the berm on the right side of the track, get back on the
        throttle a bit, and enjoy.  The dip in the road creates a feeling of
        compression that is unique to this track.  The apex and exit points are at
        the end of the berm on the left side of the track.
      %h3 Turn 3a - Uphill Right
      %p
        At the apex/exit of 3,
        = succeed "." do
          %b
            hold the wheel straight for half a beat, then turn in
            to 3a
        This is also a blind-exit turn, so finding the right turn-in and apex
        points are critical.  Power all the way through the turn, looking through the hill
        to pick up the exit point.
      %h3 Turn 4 - Downhill Right
      %p
        %b After powering down the hill from 3a, you will need to brake heavily for Turn 4.
        It's a downhill, off-camber, blind exit turn so you will need all the help
        you can get!  The most common mistake that novices make here is not slowing
        down enough, particularly in a street car with understeering tendencies, so
        make sure to start braking before the "2" marker.  Turn in just before the "1" marker,
        and get back on the power.  If you find yourself missing the apex of 4, try
        to move your mental apex in to the inside of the berm, or try a bit of trail braking.
        Chances are that it will help you to find the right line.  Track out to the left
        edge of the track to set up for Turn 5.
      %h3 Turn 5 - Slight Downhill Right
      %p
        Turn 5 should be taken mostly flat-out.  The car is still in 3rd gear, and it's downhill
        so acceleration comes quickly.
        %b
          Even though it seems like just a kink, make it a real turn,
          with a slightly late apex.
        This turn is a great lesson in how unwinding the wheel a bit
        at the apex can help the car put the power down better.  Brake as you exit the turn
        headed up the hill.  Let off the brakes a bit as you crest the hill, then back on the brakes
        to settle the car to prepare for the entry to Turn 6.
        %b
          The car should be just to the right
          of mid-track before turning in to 6.
      %h3 Turn 6 - Long Downhill Left - "The Carousel"
      %p
        Turn 6 is a long downhill left-hander that exits to one of the fastest parts
        of the track, so getting this turn right has big benefits to overall lap
        time.  It's a great place to practice throttle-steering, since you should hold
        a constant steering angle all the way through the turn, adjusting the position of
        the car on the track with the gas pedal.  The apex is nearly at the bottom of
        the hill, which is out of view, so look through the hill as you proceed
        through the turn.  About halfway through the turn, focus on getting the car to the apex.
        %b
          Start feeding in the power as soon as you know that you will achieve the apex.  You
          should be flat on the gas as you pass the apex, slowly unwinding the wheel to help to
          put the power down.
        It may feel that the rear end won't hold through the exit of the turn, but it will.
      %h3 Turn 7 - Right
      %p
        Accelerating out of Turn 6, you will need to shift to 4th gear fairly soon.
        Continue accelerating to the braking markers for Turn 7, with the car all the
        way to the left of the track.   Your speed approaching Turn 7 is as fast as
        you will be going on this track.  Brake HARD and downshift to 3rd gear to
        prepare for 7.  This is a good turn to work on trail braking, because of the
        generous runoff to the outside of the track.
        %b
          Don't worry so much about
          the first berm, instead look through the passenger window and aim for the
          second berm on the inside of the turn.
        A good apex is toward the end of
        that second berm, which will set you up for a series of late apexes in the
        esses.  You should end up in the middle of the track after apexing.
        Short-shift into 4th gear here to keep things mellow.
      %h3 Turns 8 and 8a - Right/Left
      %p
        I won't go into too much detail here.
        %b
          Just don't get too excited through here because
          of the limited runoff, and work on consistent late apexes through each turn of the esses.
        Work on smooth right-left-right transitions, working with your car to find
        the optimal tempo of changing directions.  Each car is different in this
        regard.  The exit of 8a is blind, so work up speed here slowly.  You will get
        to a point where you can work toward feeding in more throttle coming out of
        8a and unwinding the wheel to bring you all the way to track-left.  Be sure
        to keep looking ahead to the next turn to help you find the best line.
      %h3 Turn 9 - Long Left
      %p
        Turn 9 is taken flat on the gas.
        %b
          Hold the steering wheel in one position and
          let the car follow its natural line through here, which is basically holding
          on the left side of the track.
        Take a breath to prepare for Turn 10.
      %h3 Turn 10 - Fast Right
      %p
        Turn 10 can be a dangerous turn.  It's very high speed, and has limited
        runoff room all around.  It can also be very fun and rewarding!  Coming out
        of Turn 9, line up the car with the entry berm on the left side of the track.
        As you straighten the wheel, get on the brakes lightly to scrub a bit of
        speed and give the front tires some bite.   Ease on the gas and and turn in
        with authority to make a somewhat late apex on the inside of 10.  You should
        giving full throttle well before the apex of the turn.
        %b
          Look down the
          track toward Turn 11 to help you through the turn.
        It can be scary if
        you focus on the apex berm.  This is the best example of how your eyes can
        help pull you through a turn faster.  Use all of the track at the exit, even
        if you don't need it.  You will eventually, and so it's good to build the
        habit.  The pit entrance is at the end of this straight.
      %h3 Turn 11 - Hairpin Right
      %p
        You will likely be carrying significant speed into Turn 11.  Have the car
        lined up on the left side of the track and brake HARD in a straight line.
        Downshift to 2nd gear, and set the car up for a classic late apex.  You can
        likely drive in the generous paint on the inside of the turn, just be careful
        accelerating out of the turn because of the torque available in 2nd gear.
        = succeed "." do
          %b
            Ease
            on to the gas as you exit the turn, finding the right balance of applying
            throttle and unwinding steering, to end up close to the wall on the left side
            of the track
        Accelerate through 2nd and 3rd gears and shift into 4th as you
        complete a lap of Infineon Raceway!
