%h1 Laguna Seca - Novice Notes
.storysummary
  %p
    Laguna Seca is a world famous track in the hills above Monterey.  Legendary drivers have raced here, and so it is steeped in history.
%dl.storylist.storybody
  %dt Location
  %dd
    1021 Monterey Salinas Hwy, Salinas, CA 93908
    [
    %a{:href => "http://goo.gl/maps/gMzS"}> map
    ]
    [
    %a{:href => "http://goo.gl/maps/9tZ5"}> satellite
    ]
    %dt More Info
    %dd
      %ul
        %li
          %a{:href => "http://www.mazdaraceway.com/files/trackmap1_General_4-8-10.pdf"} Track Map
        %li
          Video
          %a{:href => "https://video.steinkamp.us/20110606-bmwcca_at_laguna.mov"} [In-Car]
        %li
          %a{:href => "http://en.wikipedia.org/wiki/Mazda_Raceway_Laguna_Seca"} Wikipedia Entry
    %dt The Track
    %dd
      %p
        %em
          %b NOTE:
          it's a good idea to follow along with a track map and in-car video opened in another window.  Links for both are above.
      %h3 Turn 1 - Slight Left Over Crest
      %p
        Turn 1 may not seem like much of a turn at first, but at speed the need to
        maintain a nice line is apparent.  Begin giving a very slight amount of left
        steering input just before the bridge near start/finish.  Maintain this
        slight left pressure as you crest the hill.  You should hit a nice apex on
        the left in the painted area separating the track entry from the track, then
        end up on the right side of the track just in time to brake for Turn 2.  This
        take practice, practice, practice.
      %h3 Turn 2 - Double Apex Left (Andretti Hairpin)
      %p
        Depending on car and situation, Turn 2 is either a single or double apex turn.  You will need to brake heavily to set up for turn two.  The single apex line has the car initiating the turn past the "1" brake marker and staying wide for a single late apex on the second berm.  The car should be through 3/4 of the turn (135 degrees) by this point.  Roll on the throttle once you're confident the apex is achievable.  If done well, you can be full throttle at the apex.  The double apex line requires earlier braking, but can be a useful tool in a race to gain a position.  Regardless of whether you choose the single or double apex line, let the car drift all the way to the right to finish the turn, then begin setting up for Turn 3 on the left side of the track.
      %h3 Turn 3 - Tight Right
      %p
        Turn three is a bit more than 90 degrees, and punishes early-apexers.  After setting up on the left side of the track after Turn 2, brake heavily with the wheels straight ahead, then turn in for Turn 3 at the end of the entry berm.  Aim for a late (2/3 of the way down the apex berm) apex on the right.  Roll on the power and unwind the wheel to track out all the way to the left.  The sound of the rumble strip with full throttle and wheel straight ahead is your reward for doing this turn well!
      %h3 Turn 4 - Open Right
      %p
        Turn 4 is T3's complement -- it is less than 90 degrees, and thus can be taken faster.  Stay far to the left after exiting T3.  Turn in for Turn 4 at the end of the entry berm after some braking.  Get right back to maintenance throttle after the car takes a set in the turn, and ease into the throttle as you approach the apex.  Start unwinding the steering at the apex.  You can generally be at full throttle at or slihtly after the apex.  Let the car track out all the way to the left.  Again, the rumble strip is a rewarding sound for using all the track.  If you happen to run wide here and put two wheels in the dirt -- don't panic!  There is tons of runoff here and the dirt is flat.  Just straighten the wheel before going off and very gently bring it back on track.  There is a hundred yards or more of smooth dirt here, so take your time.  Keep a tiny bit of right steering input to gently bring the car back to the right to set up for Turn 5.
      %h3 Turn 5 - Flat to Uphill Left
      %p
        The entry to Turn 5 is essentially flat, but then the track starts to gain elevation at the apex.  This is a very difficult turn to feel like you've done it "right" since the entry has relatively low grip compared with the exit, so the car may feel like it is understeering at entry, then the exit feels slow.  Brake heavily and turn in at the end of the entry berm.  Aim for a late apex and hug the apex berm starting at the halfway point all the way to the end.  You can be a full throttle by the end of the apex berm as you unwind the wheel.  Finish the turn on the right side of the track, but be careful not to drop two wheels off the outside since there can be a significant ditch adjacent to the track.
      %h3 Turn 6 - Fast Left Kink
      %p
        Turn 6 is a deceptively fast turn.  It's a slight kink with a very favorable banking that turns uphill.  I like to use Turn 6 to practice decoupling the braking zone from the turn-in point (a generally good practice!).  Brake at the "2", release at the "1", turn in at the end of the berm, and get right back to maintenance power.  Stay just off the apex berm to find the least-unsettling path through this turn.  Begin unwinding at the apex, where you should be at or near full throttle.  Let the car drift all the way to the right side of the track.  Again, if you go wide here don't panic -- wheels straight ahead and be patient getting the car back to the track surface.
      %h3 Turn 7 - Hardly a Turn
      %p
        After finishing Turn 6, slowly bring the car back to the left side of the track and "apex" Turn 7 by putting your tires in the striped berm on the left.  This is really just a setup for the braking zone for Turn 8.
      %h3 Turn 8 - The Corkscrew!
      %p
        Laguna Seca's signature turn, and the peak of the long climb from Turn 5.  As you "exit" Turn 7, line up the car with the entry berm on the right side of the track and brake heavily.   Turn in at the end of the entry berm and make a nice apex midway on the first apex berm on the left.  Unwind the steering at this apex and proceed down the STEEP hill with the wheels straight ahead.  Use one of the trees on the left side of the track as a visual reference to help you point the car.  Once the car "lands" at the bottom of the hill, start to steer to the right to pick up the second apex.  Finish the turn about a car-width from the left side of the track at the bottom of the hill.  This turn takes lots of practice to get comfortable with, since you can only see the very beginning on approach.
        %h3 Turn 9 - Downhill, On/Off Camber Left (Rainey Curve)
        %p
          Set up for Turn 9 about a car width from the right side of the track.  A little bit of brakes is usually necessary here.  This is another blind turn, with the apex and exit out of view until you're "in" the turn.  After a few times through, try to visualize the apex and exit as you aproach the turn.  You can carry a surprising amount of speed and throttle through the turn, and the track is quite wide at entry and exit.  Hit a pretty neutral apex, and unwind and give power to let the car drift all the way to the right.  This is another place where there is sometimes a ravine just off the track exit, so take note the first time through to see whether going straight off is a possibility here.
        %h3 Turn 10 - Banked Right
        %p
          After finishing Turn 10, hustle the car back to the left side of the track to set up for Turn 10.  Brake fairly heavily with the wheels straight ahead, and turn in just before the end of the entry berm.  Aim for an apex just past the red block on the apex berm, and progressively add power all the way through the turn.  Be unwinding at the apex to let the car drift all the way to the left.  There is lots of smooth runoff here, so wheels straight and be patient if you put two wheels off.
        %h3 Turn 11 - Tight Left
        %p
          Set up on the right side of the track to enter Turn 11.  Heavy braking is required here, since the turn is so tight.  Brake at the "3" or earlier.  Begin turn-in at the end of the entry berm, and aim for a late (2/3 of the way around) apex.  You should be able to start feeding in power after committing to the turn, and unwinding at the apex to make a non-dramatic but powerful exit on the right side of the track.  Be careful not to give too much power too soon, since the wall is adjacent to track left and it's totally unforgiving.
        %p
          Congratulations, you've finished a lap of Laguna Seca.  Check your belts, temps, and pressures as you motor up the front straight to do it all over again!
