%h2 Noblog
%p
  Noblog is a Ruby on Rails application that I wrote to collect and organize my various online assets.  This website runs Noblog.
%p
  I have videos on YouTube and Vimeo, photos on Flickr, Tweets, and blog posts.
  Noblog pulls all of these sources together, organizes them by time, and
  presents them in a clear list format.  There is a simple commenting function
  to allow for a minimal level of communication on the site.
%p
  Noblog's sources are configured using a YAML file, so it is easy to fetch
  stuff that's not just mine.  The set of possible sources may be extended
  fairly easily since Noblog's core is not married to any particular type of
  source or its particular metadata.
%p
  Noblog may become an open-source project if there is interest.  Interested?
  Email me at zs [at] thenobot.org!
