%h2 Life Imitates Racing.  Racing Imitates Life.
%h3 Words to live and race by...
%ul
  %li Look far ahead.  The more you can see, the longer you have to plan or react.
  %li Be gentle but firm with your inputs.
  %li If you push, it will push back.
