%h1 Songs

%h3 Transpo
%h5 November 2017
%p
  There were two main sources of inspiration for this song.
  %ul
    %li
      %a{ :href=>"https://www.youtube.com/watch?v=HdkixaxjZCM" } This 1965 film on the Mellotron
    %li
      %a{ :href=>"https://www.flickr.com/photos/thenobot/23897321496/in/album-72157662567023331/" } This picture of a bus I took in downtown San Jose
%p I grabbed a bunch of samples from the Mellotron film and made a sampler instrument from them (so easy in Logic Pro -- Ctrl-E). I was thinking to mix the retro string vibe with a modern artificial environment. The samples dictated the tempo of 113 BPM, which ends up being a slow-but-danceable tempo. The samples were also in 3/4 time, so I set up the project that way.
%p The funny thing is that I built the song around those samples, then ended up removing them about halfway through because it sounded better without them. Thanks for the launchpad though!
%p This was a fun song to put together because the grid was in 3/4 but I really was making a 4/4 song. This added some mental complexity with dealing with the grid, and how the phrases weren't necessarily on the measure lines, but I think it had the interesting effect of bringing in elements at more interesting/surprising times, since it wasn't easy just to jump on 4-measure divisions.
%p The train-like kicks at the end are a kickdrum alternating with a reversed version of that kick, passed through a tape delay simulation. There are some 909 hats with some cutoff automation and auto-filter, and some claps from one of the stock drum kits that comes with Logic. The other sounds are either synths I made in Alchemy or based on samples and stretched out and put thru lots of effects. One neat thing I worked on was automating the "pan-spread" parameter for the arp-y sound to really open the door on the song when it takes off a couple minutes in.
%p The vocal sample at the end is from some old Howard Cosell footage (again from YouTube) turned into an Alchemy instrument that lets me scrub the sample playback position with a knob. Maybe I'll do a post on that instrument one day, since it's a really interesting effect.
%iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/361586810&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" }
%p
  Transpo on
  %a{ :href=>"https://zacksteinkamp.bandcamp.com/track/transpo" } Bandcamp
  |
  %a{ :href=>"https://itunes.apple.com/us/album/transpo-single/1317838474" } iTunes
  |
  %a{ :href=>"https://open.spotify.com/track/1O4ii5tunAkYm5azcqCLJ2" } Spotify


%h3 Purdie
%h5 October 2017
%p I set out to make a reggae song. I had a bunch of samples I took from an old instructional film starring drumming legend Bernard Purdie that I really wanted to use in a project. I also learned the bassline from The Orb's song "Valley" and wanted to see what I could do with it. The result is a dubby, dancy tune with a pretty big bottom end. "Nothing is ever precise..."
%iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/349053306&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" }
%p
  Purdie on
  %a{ :href=>"https://zacksteinkamp.bandcamp.com/track/purdie" } Bandcamp
  |
  %a{ :href=>"https://itunes.apple.com/au/album/purdie/1302927359?i=1302927384" } iTunes
  |
  %a{ :href=>"https://open.spotify.com/track/3kW54iQDkpp2JaN48nQxmJ" } Spotify


%h3 Bootsand
%h5 September 2017
%p This song starts with some samples from a hike I took with a friend on a graveley trail -- our different cadences were making a cool rhythmic pattern. There were also crickets chattering, which I took to turned into a cricket rave party in the track. I set out to make a dancy number with this one that felt light. There's a running joke in dance music where typical dance beats mimic the phrase "boots and cats" repeatedly. If you listen carefully, you can hear me whispering that through the song in certain parts. The cutting-acid sound is a kazoo put through pitch correction and the Ringshifter effects. Bahar helped me to construct the extended mellow ending, which I think really makes the song, along with Naomi's crazy vocal samples that sound like a dog squeeze toy. I'm proud of how this song ends. "And then I don't know what happened next..."
%iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/343838450&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" }
%p
  Bootsand on
  %a{ :href=>"https://zacksteinkamp.bandcamp.com/track/bootsand" } Bandcamp
  |
  %a{ :href=>"https://itunes.apple.com/au/album/bootsand/1289466522?i=1289466526" } iTunes
  |
  %a{ :href=>"https://open.spotify.com/track/6ir5qfucBfRinbCobXoraO" } Spotify


%h3 Edwin White, You're My Hero
%h5 September 2017
%p This project started with an audio recording Marina and her friend did of a song they made up. I put a some samples of a line her friend sang through some pitch and modulation effects, chopped it up, and laid it out on the keys across a couple octaves. The title refers to astronaut Ed White, who was America's first spacewalker in the Gemini 4 mission. He was supposed to be outside the capsule for 4 minutes but ended up staying outside for 12. There are samples from NASA's audio recordings of radio communications of that mission throughout the song. Marina's friend singing "I know, I know" ties back with Ed White's playful exchanges with Mission Control and how he knew he was supposed to "get back in!" but he knew he could stay outside longer and really soak in what he was doing and seeing.
%iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/340945505&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" }
%p
  Edwin White, You're My Hero on
  %a{ :href=>"https://zacksteinkamp.bandcamp.com/track/edwin-white-youre-my-hero" } Bandcamp
  |
  %a{ :href=>"https://itunes.apple.com/au/album/edwin-white-youre-my-hero/1279130012?i=1279130924" } iTunes
  |
  %a{ :href=>"https://open.spotify.com/track/4Amka4m57unjx6oU1o8sA3" } Spotify

%h3 Sanborn Five
%h5 May 2017
%p This song started out with the idea that a looping water recording could be put through a tremolo and used as a rhythmic device. Even cooler if it could transition seamlessly from "babbling brook" to off-beat percussion. The girls and I like to explore the Sanborn Creek next to Sanborn Road. It's an ever-changing adventure, rock-hopping and climbing over downed trees. It's also a place where I like to bring my mountain and road bikes. I wanted this song to be about that stuff.
%p I recorded a little stream on a hike near Lexington Reservoir ... that would be close enough to Sanborn to count, right?
%p
  The next inspirational element came from a recording experiment I did with the sliding glass door in my kitchen. Read about that here:
  %a{ :href=>"/1254/the-window-drum-dilemma" } The Window Drum Dilemma.
  The huge bass sound had to find a home! And so it did.
%p The other sounds in the song come from a 4-oscillator Alchemy synth I made that can be controlled in 8 ways by the knobs on my controller, a percussion set I made from slapping and banging on my kitchen floor, a click sound from something banging into the Rode i-XY mic when recording the stream turned into a kickdrum, the default ESX-24 sine wave processed through a simulated guitar amp, samples of Bahar playing the Daff, and a percussion set I recorded from my bike.
%p This song changes more than other songs I've done, and I like that. I think I'll keep doing more of it.

%iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/322043366&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" }

%p
  Sanborn Five on
  %a{ :href=>"https://zacksteinkamp.bandcamp.com/track/sanborn-five" } Bandcamp
  |
  %a{ :href=>"https://itunes.apple.com/us/album/sanborn-five/id1235421307?i=1235421585" } iTunes
  |
  %a{ :href=>"https://open.spotify.com/album/2XwqIyjrFyDG6a4Vx3WDdN" } Spotify


%h3 By a Thread
%h5 April 2017
%p
  I was noodling in
  %a{ :href=>"/1253/sound-making-vs-song-making" } sound-making mode
  with a set of sounds and instruments I had come up with over the last few weeks when I heard of a dear friend's father's sudden passing. There were a lot of similarities between her story and the experience we had when Santosh (Arti's dad) passed away in 2007, and so it stirred up a lot of memories of that time. We were with him when he died, and that moment lives with me very clearly to this day. I wanted to make something to express these feelings, and to illustrate what happens to the people in the situation when this happens.
%p The song is made of a cast of characters. One of them dies. They all act on their own, and they all change in different ways after the moment of death. There are new patterns, rememberances, resurgences. They find a new order and life goes on.
%p Sound-wise, this song features a 4-oscillator Alchemy arpeggiator patch I made that is very automatable, a dove call that I whistled, some long vocal notes wrung through tons of processing, an egg shaker, and 8 claps. The claps were one idea that I had to have the mic in one part of the house, and clap from different rooms and distances from the mic. The product is an impulse map of my house, and that impression may be given in headphones.
%p This song was unique for me in that I performed each track end-to-end. Normally I will come up with some good phrases and loop them. By a Thread was actually performed.

%iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/320223290&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" }

%p
  By a Thread on
  %a{ :href=>"https://zacksteinkamp.bandcamp.com/track/by-a-thread" } Bandcamp
  |
  %a{ :href=>"https://itunes.apple.com/us/album/by-a-thread/id1231873815?i=1231873818" } iTunes
  |
  %a{ :href=>"https://open.spotify.com/track/7AjAGF45yvtEbvdRWEpEp9" } Spotify


%h3 Fruhling
%h5 March 2017
%p
  This song is a story of two people. One is moody and unsure. The other is a calming and beautiful presence. Fruhling is the German word for Springtime.
%p
  The lead sound is me singing through a plastic kazoo, then a ton of pitch correction and processing was applied in the computer. The other singing is me too, made possible by even more pitch correction and effects. This is the first time I have actually tried to sing in a song. Thanks to technology, no ears are bleeding. I also played the kalimba with drumsticks, recorded a ratchet, and tapped a stainless steel bowl with plastic sticks.

%iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/313014069&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" }

%p
  Fruhling on
  %a{ :href=>"https://zacksteinkamp.bandcamp.com/track/fruhling" } Bandcamp
  |
  %a{ :href=>"https://itunes.apple.com/us/album/fruhling/id1217691304?i=1217691478" } iTunes
  |
  %a{ :href=>"https://open.spotify.com/track/6h8kHVO6VxyWBc61q0Qgpf" } Spotify

%h3 The Noisemakers
%h5 January 2017
%p
  I had a bunch of samples that just kind of fell together in this song. There's kind of a dadaist element to it, since the main sample is my mom saying "just something, any old thing", responding to me putting a mic in front of her and asking her to say something. This song is proof that you can take anything and make it into music.
%p
  Kalimba plays a lead role in the song, as does my box of noisemakers that I recorded indiviaul hits on and then sequenced as sampler instruments. Jingle bells, egg shakers, toy tambourine, and recorder flute.

%iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/300688934&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" }

%p
  The Noisemakers on
  %a{ :href=>"https://zacksteinkamp.bandcamp.com/track/the-noisemakers" } Bandcamp
  |
  %a{ :href=>"https://itunes.apple.com/us/album/the-noisemakers/id1217691304?i=1217691477" } iTunes
  |
  %a{ :href=>"https://open.spotify.com/track/5gO0AJjAhnXcfGIqu5Z6on" } Spotify
