%h1 Songs

%h3 Sanborn Five
%h5 May 2017
%p This song started out with the idea that a looping water recording could be put through a tremolo and used as a rhythmic device. Even cooler if it could transition seamlessly from "babbling brook" to off-beat percussion. The girls and I like to explore the Sanborn Creek next to Sanborn Road. It's an ever-changing adventure, rock-hopping and climbing over downed trees. It's also a place where I like to bring my mountain and road bikes. I wanted this song to be about that stuff.
%p I recorded a little stream on a hike near Lexington Reservoir ... that would be close enough to Sanborn to count, right?
%p
  The next inspirational element came from a recording experiment I did with the sliding glass door in my kitchen. Read about that here:
  %a{ :href=>"/1254/the-window-drum-dilemma" } The Window Drum Dilemma.
  The huge bass sound had to find a home! And so it did.
%p The other sounds in the song come from a 4-oscillator Alchemy synth I made that can be controlled in 8 ways by the knobs on my controller, a percussion set I made from slapping and banging on my kitchen floor, a click sound from something banging into the Rode i-XY mic when recording the stream turned into a kickdrum, the default ESX-24 sine wave processed through a simulated guitar amp, samples of Bahar playing the Daff, and a percussion set I recorded from my bike.
%p This song changes more than other songs I've done, and I like that. I think I'll keep doing more of it.

%iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/322043366&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" }

%p
  Sanborn Five on
  %a{ :href=>"https://zacksteinkamp.bandcamp.com/track/sanborn-five" } Bandcamp
  |
  %a{ :href=>"https://itunes.apple.com/us/album/sanborn-five/id1235421307?i=1235421585" } iTunes
  |
  %a{ :href=>"https://open.spotify.com/album/2XwqIyjrFyDG6a4Vx3WDdN" } Spotify


%h3 By a Thread
%h5 April 2017
%p
  I was noodling in
  %a{ :href=>"/1253/sound-making-vs-song-making" } sound-making mode
  with a set of sounds and instruments I had come up with over the last few weeks when I heard of a dear friend's father's sudden passing. There were a lot of similarities between her story and the experience we had when Santosh (Arti's dad) passed away in 2007, and so it stirred up a lot of memories of that time. We were with him when he died, and that moment lives with me very clearly to this day. I wanted to make something to express these feelings, and to illustrate what happens to the people in the situation when this happens.
%p The song is made of a cast of characters. One of them dies. They all act on their own, and they all change in different ways after the moment of death. There are new patterns, rememberances, resurgences. They find a new order and life goes on.
%p Sound-wise, this song features a 4-oscillator Alchemy arpeggiator patch I made that is very automatable, a dove call that I whistled, some long vocal notes wrung through tons of processing, an egg shaker, and 8 claps. The claps were one idea that I had to have the mic in one part of the house, and clap from different rooms and distances from the mic. The product is an impulse map of my house, and that impression may be given in headphones.
%p This song was unique for me in that I performed each track end-to-end. Normally I will come up with some good phrases and loop them. By a Thread was actually performed.

%iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/320223290&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" }

%p
  By a Thread on
  %a{ :href=>"https://zacksteinkamp.bandcamp.com/track/by-a-thread" } Bandcamp
  |
  %a{ :href=>"https://itunes.apple.com/us/album/by-a-thread/id1231873815?i=1231873818" } iTunes
  |
  %a{ :href=>"https://open.spotify.com/track/7AjAGF45yvtEbvdRWEpEp9" } Spotify


%h3 Fruhling
%h5 March 2017
%p
  This song is a story of two people. One is moody and unsure. The other is a calming and beautiful presence. Fruhling is the German word for Springtime.
%p
  The lead sound is me singing through a plastic kazoo, then a ton of pitch correction and processing was applied in the computer. The other singing is me too, made possible by even more pitch correction and effects. This is the first time I have actually tried to sing in a song. Thanks to technology, no ears are bleeding. I also played the kalimba with drumsticks, recorded a ratchet, and tapped a stainless steel bowl with plastic sticks.

%iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/313014069&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" }

%p
  Fruhling on
  %a{ :href=>"https://zacksteinkamp.bandcamp.com/track/fruhling" } Bandcamp
  |
  %a{ :href=>"https://itunes.apple.com/us/album/fruhling/id1217691304?i=1217691478" } iTunes
  |
  %a{ :href=>"https://open.spotify.com/track/6h8kHVO6VxyWBc61q0Qgpf" } Spotify

%h3 The Noisemakers
%h5 January 2017
%p
  I had a bunch of samples that just kind of fell together in this song. There's kind of a dadaist element to it, since the main sample is my mom saying "just something, any old thing", responding to me putting a mic in front of her and asking her to say something. This song is proof that you can take anything and make it into music.
%p
  Kalimba plays a lead role in the song, as does my box of noisemakers that I recorded indiviaul hits on and then sequenced as sampler instruments. Jingle bells, egg shakers, toy tambourine, and recorder flute.

%iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/300688934&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" }

%p
  The Noisemakers on
  %a{ :href=>"https://zacksteinkamp.bandcamp.com/track/the-noisemakers" } Bandcamp
  |
  %a{ :href=>"https://itunes.apple.com/us/album/the-noisemakers/id1217691304?i=1217691477" } iTunes
  |
  %a{ :href=>"https://open.spotify.com/track/5gO0AJjAhnXcfGIqu5Z6on" } Spotify
