%h1 Thunderhill Raceway - Novice Notes
.storysummary
  %p
    Thunderhill Raceway was built by the SCCA as a learning track.  It has
    a wide variety of turns, and tons of runoff area.  It's a great place
    to learn car control and, due to the summer heat, how temperature affects
    track conditions.
%dl.storylist.storybody
  %dt Location
  %dd
    5250 Highway 162, Willows, CA
    [
    %a{:href => "http://maps.google.com/maps?f=q&hl=en&q=5250+State+Highway+162,+Willows,+CA+95988&ie=UTF8&z=13&ll=39.531982,-122.273884&spn=0.064477,0.195007&om=1&iwloc=A"}> map
    ]
    [
    %a{:href => "http://maps.google.com/maps?f=q&hl=en&q=5250+State+Highway+162,+Willows,+CA+95988&ie=UTF8&om=1&z=16&ll=39.540223,-122.331541&spn=0.008059,0.024376&t=k"}> satellite
    ]
    %dt More Info
    %dd
      %ul
        %li
          %a{:href => "http://thunderhill.com/html/trackmap.html"} Track Map
        %li
          Video
          %a{:href => "http://video.thenobot.org/20060827-thill.mov"} [Roof Cam, Cyclone]
          %a{:href => "http://video.thenobot.org/20060913-thill.mov"} [In-Car, Bypass]
        %li
          %a{:href => "http://en.wikipedia.org/wiki/Thunderhill_Raceway"} Wikipedia Entry
        %li
          %a{:href => "http://www.gotgutsatthunderhill.com/files/thill_turnbyturn.pdf"} Hank Watts' Expert Writeup (PDF)
    %dt The Track
    %dd
      %p
        %em
          %b NOTE:
          it's a good idea to follow along with a track map and in-car video opened in another window.  Links for both are above.
      %h3 Turn 1 - Slight Uphill Left
      %p
        %b
          Since this turn is at the end of a very long straight, some heavy braking
          is usually required, but keep the car in 4th gear.
        As you approach the
        Start/Finish, glance to the exit of the turn to ensure that it is clear.
        There is a flag station there that is sometimes occupied.  If you're
        comfortable with it, stay on the throttle until after the Start/Finish line.
        Get your braking done prior to turn-in at or before the "1" marker, and
        charge for a nice and late apex.  You should be able to get back on the power
        shortly after turn-in due to the slight incline throughout the turn.
      %h3 Turn 2 - 180-degree Left
      %p
        Set up for this turn just to the right of track center.  You will need to do
        some braking and downshift to 3rd gear.  The track runs slightly downhill
        here, so keep that in mind when choosing a braking point.  Glance at the exit
        of the turn prior to turning in.  As you proceed through the turn, practice
        looking to the turn exit every second or two to maintain a reference for
        where you are in the turn in relation to the exit and the apex.
        %b
          This is a
          great turn to get a feel for how the car reacts to throttle inputs in a
          steady turn.
        As soon as you know that you can achieve your desired apex,
        start feeding in power and unwind the wheel as appropriate.  You should be at
        full power at or shortly after the apex, tracking out neatly to the exit.
      %h3 Turn 3 - Over-Crest, Off Camber Right
      %p
        You will need to brake heavily as you approach the little hill before Turn 3.
        Just over the rise awaits an off-camber monster that I'm sure has made more
        than one heart skip a beat.
        %b
          Crest the hill near the just to the left of
          center of the track, and try to reel in the exit/apex (they are at the same
          point) at track-right.
        Work up your speed entering this turn slowly to avoid
        a suprise spin.  The track gets a little bumpy toward the exit, so expect a
        bit of bouncing or porpoising here.
      %h3 Turn 4 - Left
      %p
        Turn 4 is a fun little bend that is a welcome relief from the madness of Turn 3.  Begin turning in immediately after the exit of Turn 3, and aim for the last third of the apex berm.
        %b It's a good time to look up the hill toward the flag station at the top of Turn 5.
        Track all the way out to the exit berm to maximize speed through this turn.
      %h3 Turn 5 - The Cyclone - Slow Left
      %p
        The Turn 5 Cyclone is Thunderhill's signature turn.  After exiting 4, charge
        up the hill.  Start braking heavily at or slightly
        after the "3" marker.  Begin turning in at the "2" marker, and slowly dial in
        more steering input prior to hitting the apex berm on the left.
        %b
          Straighten
          out the steering and get back on the power just after the apex berm, and
          drive down the hill, with your exit point just at the end of the berm on the
          right.
        You can be on the gas all the way down the hill up to the
        braking zone for Turn 6, just adjust steering input to maintain the balance
        of keeping a tight line and putting the power down.
      %h3 Turn 6 - Left
      %p
        You will likely need to get a moderate amount of braking done before 6, but
        likely less braking than you may originally think.
        %b
          Since Turn 6 preceeds one
          of the fastest sections of the track, exit speed is critical here.
        Turn in,
        and ease back on the throttle, apexing about 75% of the way down the apex berm.
        You should be at full throttle prior to the apex.  Unwind the wheel a bit as
        you pass the apex to track out to the exit berm on the right.
      %h3 Turn 7 - Fast Left Kink
      %p
        %b
          As you are learning the track, Turn 7 may not seem like it is worthy of
          being called a Turn at all, but as you pick up speed you will see the
          necessity of it, so make it a real turn with a real apex.
        Aim for a late
        apex a few carlengths prior to the access road, and track out all the way to
        the right to set up for Turn 8.  You will need to shift from 3rd to 4th gear
        here.
      %h3 Turn 8 - Very Fast Left
      %p
        If you are comfortable doing so, stay on the power all the way through Turn 7, and approaching Turn 8.  Depending on the car, there will likely be some very light braking necessary just prior to turning in.  This is more to shift weight to the front tires than to scrub speed.  Turn in about halfway down the concrete strip on the right side of the track, aiming for an apex about midway through the apex berm.
        %b Feed in the power smoothly, being at full throttle just prior to the apex.  Don't be afraid to put two wheels in the runoff area on the corner exit -- that's what it's there for!
        Speeds here are very very high, and it's quite a thrill every time!
      %h3 Turn 9 - Uphill Left
      %p
        Turn 9 is the most misunderstood turn on the track.  It's quite unique in its
        layout, and generally fools many a student (and instructor) into following
        the wrong line.  As you are climbing the hill from Turn 8, stay on the power
        until the braking zone.  Brake, downshift to 3rd gear, then turn in between
        the "2" and "1" markers, setting up a fairly early apex on the left-side
        berm.
        %b
          Get right back on the gas after turn-in, since the uphill helps to
          hold the rear end.  Track out to the right, with your exit point flush with the berm on the right side of the track just beyond
          the crest of the hill.  As you crest the hill, the steering wheel should be
          straight ahead.
        Don't worry -- there is tons of track on the other side.
      %h3 Turn 10 - Banked Left
      %p
        Accelerating all the way down the hill from Turn 9, allow the car to drift
        left as it wants as you descend the hill.  You'll likely need to shift into
        4th gear at some point.  As you approach the Turn 10 braking zone, get the
        car back to the right edge of the track.   Brake heavily, downshift to 3rd,
        and turn in just before the painted marks on the right edge of the track.
        %b
          This
          turn is nicely banked, so it's suprising how fast it can be taken.
        Get all the way up
        on the apex berm (this is the only place on the track you should do this),
        and shoot for the last third of the exit berm.
      %h3 Turn 11 - Tight Left
      %p
        %b Turn 11 is significantly slower than Turn 10.
        It's flat, so you don't have the
        banking to pull you through the turn.  Most cars will benefit from
        downshifting to 2nd gear entering the turn.  Turn in, aiming for a very late apex at the end of the berm on the left, then set up the car to go through the little esses of Turns 12 and 13.
      %h3 Turns 12 and 13 - Right / Left Esses
      %p
        %b
          Accelerating out of Turn 11, try to straighten out these two turns as much as
          possible.
        There is ample space in turn 12 to put your two right tires inside
        of the black and white striped berm.   Accelerate hard here, but be mindful
        of spinning, since you are accelerating through 2nd gear.  Turn back to
        the left to drive over the black and white paint at the apex of 13, and track
        all the way out to the right to complete the sequence.  Accelerating down the
        long-ish straight here, you will likely get into 4th gear.  Stay on the power
        just past the bridge if you are comfortable doing so.  Don't worry about
        moving the car to the left edge of the track immediately, since the track
        will mostly come to you on that side if you drive a line from the exit of
        Turn 13 to the braking zone of Turn 14.
      %h3 Turn 14 and 15 - Tight Right to Opening Right
      %p
        Turn 14 is at the end of a long straight, so heavy braking is absolutely
        necessary here.   The car should be all the way to the left just as you
        approach the braking markers.
        %b
          Since this is a tight turn, aim for a late
          apex.
        Turn in a couple of carlengths after the "1" marker, and try to hit
        your apex toward the end of the thick part of the berm.  Get on the power,
        and drift out, putting two wheels into the exit paint.
        %b
          Staying on the power,
          pause for a beat with the front wheels straight ahead, then turn in to Turn
          15.
        Use a normal apex, and unwind the wheel a bit after apexing to drift out
        to the exit berm.  This leads to the front straight, where your lap is
        complete!
