- @title = entry.disp_title
%h2= @title
%video{:height => "480", :width => "640", :src => "http://video.thenobot.org/#{entry.uid}", :controls => true}
%p= auto_link(entry.data[:description].gsub(/\n\s*\n/, "<br/><br/>").html_safe)
