- @title = entry.disp_title
%h2= @title
%iframe.youtube-player{:frameborder => "0", :height => "385", :src => "http://www.youtube.com/embed/#{entry.data[:id]}?hd=1&rel=0&fs=1&autohide=1&autoplay=1", :type => "text/html", :width => "640", :style => "display: block; margin: 0px auto;", :allowfullscreen => "allowfullscreen" }
= entry.data[:description].html_safe
