/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import url(http://fonts.googleapis.com/css?family=Lato:300,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

$font-family-sans-serif: "Lato",sans-serif;
$font-size-base: 18px;
$headings-font-family: "Oswald",sans-serif;
$headings-font-weight: 700;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
  font-family: $headings-font-family;
  font-weight: 700;
  font-size:150%;
}
code {
  white-space: pre;
  display: block;
}
.typepicker {
  text-align:center;
  padding-bottom:20px;
  text-transform: uppercase;
  font-size:12px;
}
.timeline {
  position: relative;
  height:33px;
  margin:10px 0;
  .year {
    position:absolute;
    height:38px;
    top:-18px;
    border-left:1px solid #ccc;
    padding-left:5px;
    font-size:9px;
  }
  .segment {
    position:absolute;
    height:0px;
    padding-top:20px;
    overflow:hidden;
    white-space:nowrap;
    z-index:1;
    font-size:12px;
    .seg_label {
      background-color:#FFF;
      padding:3px;
    }
    .seg_label:hover {
      text-decoration:none;
    }
    &:hover {
      overflow:visible;
    }
  }
  a.segment:hover {
    background-color:#F66 !important;
  }
}

.entries {
  padding-left: 0;
  margin-left: 0;
  .entry h2 {
    font-weight:normal;
    font-size:24px;
    line-height:30px;
    margin-bottom:5px;
  }
}
.entry {
  list-style-type:none;
  padding-left:24px;
  margin-left:0;
  background:transparent no-repeat left top;
  color:#333;
}
.entry-single .entry {
}
.entry-index .entry {
  padding-top:20px;
  border-top:2px solid #eee;
  color:#666;
}
.admin-index .entry {
  margin-bottom:5px;
}
.entries .entry {
  background-position: left 22px;
  margin-bottom:40px;
}
.entry .image_wrapper {
  margin-left:10px;
  float:right;
  width:100px;
  height:100px;
  background:black;
  text-align:center;
  vertical-align:center;
  overflow:hidden;
}
.entry .image_wrapper img {
  height:100px;
  max-width:inherit;
}
.pubdate {
  text-transform:uppercase;
  color:#666;
}
.entry.post {
  background-image: image-url("site_icons/post.png");
}
.entry.flickr {
  background-image: image-url("site_icons/flickr.png");
}
.entry.quicktime {
  background-image: image-url("quicktime.png");
}
.entry.youtube {
  background-image: image-url("site_icons/youtube.png");
}
.entry.vimeo {
  background-image: image-url("site_icons/vimeo.png");
}
.entry.vimeo p img {
  display:none;
}
.entry.soundcloud {
  background-image: image-url("site_icons/soundcloud.png");
}
.entry.twitter {
  background-image: image-url("site_icons/twitter.png");
}
.entry.twitter h2 {
  font-weight:normal;
  font-size:$font-size-base;
}

img.photo {
  border:40px solid black;
  margin-left:-40px;
}
img.alignright { /* carryover from wordpress */
  float:right;
  margin:0px 0 20px 20px;
}
img.alignleft { /* carryover from wordpress */
  float:left;
  margin:0px 20px 20px 0;
}
.photo_title {
  font-weight:bold;
  text-align:left;
  font-size:120%;
}
.photo_desc {
  text-align:left;
}
footer {
  background-color: #222;
  color: #dcdcdc;
  padding-top: 20px;
}
